input {
  beats {
    port => {{ logstash_listen_port_metricbeat }}
  }
}

output {
  elasticsearch {
    hosts => {{ es_data_hosts }}
    index => "DC1-metricbeat-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
