input {
  beats {
    port => {{ logstash_listen_port_metricbeat }}
  }
}

output {
  elasticsearch {
    hosts => {{ es_data_hosts }}
    index => "{{logstash_datacenter}}-metricbeat-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
    user => "{{es_logstash_username}}"
    password => "{{password_logstash_system}}"
  }
}
