input {
  beats {
    port => {{ logstash_listen_port_packetbeat }}
  }
}

output {
  elasticsearch {
    hosts => {{ es_data_hosts }}
    index => "{{logstash_datacenter}}-packetbeat-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
